body {
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    padding: 20px 0;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .description {
    font-size: 1em;
    margin: 10px 20px 0;
  }

.judul-luassegitiga,.judul-kelilingsegitiga {
    width: 100%;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    padding: 20px 0;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 100%;
}

#gambar-rumus {
    padding: 5px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
}

.hitung {
    text-align: center;
    padding: 20px;
}

form {
    max-width: auto;
    width: auto;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

input[type="number"] {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input::placeholder {
    color: #999;
}

#hasil_luas {
    width: 100%;
    color: #ffffff;
    background-color: #ff0077;
    border-radius: 10px;
    padding: 20px 0;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#hasil_Keliling {
    width: 100%;
    color: #ffffff;
    background-color: #ff0077;
    border-radius: 10px;
    padding: 20px 0;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#ButtonHitung {
    text-align: center;
    color: #f9f9f9;
    font-weight: bold;
    background-color: #04AA6D;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#ButtonHitung:hover {
    background-color: #097c54;
    color: #e2e0e0;
}

#ButtonReset {
    text-align: center;
    background-color: #ef534e;
    display: inline-block;
    color: #f9f9f9;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#ButtonReset:hover {
    background-color: #af3c38;
    color: #e2e0e0;
}

.footer {
    font-size: 6px;
    width: 100%;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff;
    padding: 2px 0;
    text-align: center;
}